In [15]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import requests
import math

In [16]:
# Create a merged crime dataframe for Total Crime in 2000, 2010, and 2020
# Pull in crime data for 2000, 2010, and 2020
crime_2000 = pd.read_csv("Resources/Crime Information 2000.csv")
crime_2010 = pd.read_csv("Resources/Crime Information 2010.csv")
crime_2020 = pd.read_csv("Resources/Crime Information 2020.csv")

# Create a Total Crime column for all three dataframes
crime_2000["TOTAL_CRIME"] = (crime_2000["HOMICIDE"] + crime_2000["SEX_OFFENSE"] + crime_2000["ROBBERY"] + 
                             crime_2000["ASSAULT"] + crime_2000["BURGLARY"] + crime_2000["VICE"] + 
                             crime_2000["THEFT"] + crime_2000["VEH_THEFT"] + crime_2000["OTHER"])
crime_2010["TOTAL_CRIME"] = (crime_2010["HOMICIDE"] + crime_2010["SEX_OFFENSE"] + crime_2010["ROBBERY"] + 
                             crime_2010["ASSAULT"] + crime_2010["BURGLARY"] + crime_2010["VICE"] + 
                             crime_2010["THEFT"] + crime_2010["VEH_THEFT"] + crime_2010["OTHER"])
crime_2020["TOTAL_CRIME"] = (crime_2020["HOMICIDE"] + crime_2020["SEX_OFFENSE"] + crime_2020["ROBBERY"] + 
                             crime_2020["ASSAULT"] + crime_2020["BURGLARY"] + crime_2020["VICE"] + 
                             crime_2020["THEFT"] + crime_2020["VEH_THEFT"] + crime_2020["OTHER"])

# Remove columns that are not needed and rename colums that are
crime_2000 = crime_2000.rename(columns={"TOTAL_CRIME": "2000_TOTAL_CRIME"})
crime_2010 = crime_2010.rename(columns={"TOTAL_CRIME": "2010_TOTAL_CRIME"})
crime_2020 = crime_2020.rename(columns={"TOTAL_CRIME": "2020_TOTAL_CRIME"})
crime_2000 = crime_2000[["NEIGHBORHOOD_NAME", "2000_TOTAL_CRIME"]]
crime_2010 = crime_2010[["NEIGHBORHOOD_NAME", "2010_TOTAL_CRIME"]]
crime_2020 = crime_2020[["NEIGHBORHOOD_NAME", "2020_TOTAL_CRIME"]]

# Merge the crime data
merged_crime_df = pd.merge(crime_2000, crime_2010, on="NEIGHBORHOOD_NAME")
merged_crime_df = pd.merge(merged_crime_df, crime_2020, on="NEIGHBORHOOD_NAME")

# Show new DataFrame
merged_crime_df

,NEIGHBORHOOD_NAME,2000_TOTAL_CRIME,2010_TOTAL_CRIME,2020_TOTAL_CRIME
0,ANCAROWS LANDING,31,33,32
1,BEAUFONT,81,95,80
2,BELLE AND MAYO ISLANDS,8,85,24
3,BELLEMEADE,846,632,484
4,BELLEVUE,236,106,143
...,...,...,...,...
142,WINDSOR FARMS,44,18,31
143,WOODHAVEN,122,171,126
144,WOODLAND HEIGHTS,379,315,221
145,WOODVILLE,142,161,139
146,WORTHINGTON,83,92,48

In [19]:
# Add Zillow's Average House Price data to the DataFrame
# Pull in Zillow Data
zillow_df = pd.read_csv("Output/zillow_by_year.csv")

# Convert Region Name to Upper Case
zillow_df["Region Name"] = zillow_df["Region Name"].str.upper()

# Change Region Name to NEIGHBORHOOD_NAME and rename 2000, 2010, and 2020 to show they are AVERAGE_HOUSE_PRICE
zillow_df = zillow_df.rename(columns={"Region Name": "NEIGHBORHOOD_NAME", "2000": "2000_AVERAGE_HOUSE_PRICE",
                                      "2010": "2010_AVERAGE_HOUSE_PRICE", "2020": "2020_AVERAGE_HOUSE_PRICE"})

# Remove columns that are not needed
zillow_df = zillow_df[["NEIGHBORHOOD_NAME", "2000_AVERAGE_HOUSE_PRICE", "2010_AVERAGE_HOUSE_PRICE", "2020_AVERAGE_HOUSE_PRICE"]]

# Merge crime data and zillow data and clean up order of columns
merged_crime_df = pd.merge(merged_crime_df, zillow_df, on="NEIGHBORHOOD_NAME")
merged_crime_df = merged_crime_df[["NEIGHBORHOOD_NAME", "2000_TOTAL_CRIME", "2000_AVERAGE_HOUSE_PRICE",
                                   "2010_TOTAL_CRIME", "2010_AVERAGE_HOUSE_PRICE",
                                   "2020_TOTAL_CRIME", "2020_AVERAGE_HOUSE_PRICE"]]

# Show new DataFrame
merged_crime_df

,NEIGHBORHOOD_NAME,2000_TOTAL_CRIME,2000_AVERAGE_HOUSE_PRICE,2010_TOTAL_CRIME,2010_AVERAGE_HOUSE_PRICE,2020_TOTAL_CRIME,2020_AVERAGE_HOUSE_PRICE
0,BEAUFONT,81,91484,95,129220,80,179741
1,BELLEMEADE,846,60970,632,73785,484,110851
2,BELLEVUE,236,142984,106,242895,143,356034
3,BELMONT WOODS,28,119901,32,149921,16,199649
4,BELT CENTER,715,75425,417,106461,465,142836
...,...,...,...,...,...,...,...
117,WINDSOR FARMS,44,568122,18,837668,31,1098946
118,WOODHAVEN,122,75706,171,114064,126,155251
119,WOODLAND HEIGHTS,379,117137,315,222521,221,331597
120,WOODVILLE,142,138552,161,105910,139,144709
121,WORTHINGTON,83,85378,92,114525,48,163726

In [20]:
# Save new output to csv
merged_crime_df.to_csv("Output/scatter_data.csv", encoding="utf-8", index=True)