In [85]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import requests
import math
from census import Census
from pprint import pprint

# Census API Key
from config import api_key

In [86]:
# Pull in all crime data from 2000 - 2020
crime_2000 = pd.read_csv("Resources/Crime Information 2000.csv")
crime_2001 = pd.read_csv("Resources/Crime Information 2001.csv")
crime_2002 = pd.read_csv("Resources/Crime Information 2002.csv")
crime_2003 = pd.read_csv("Resources/Crime Information 2003.csv")
crime_2004 = pd.read_csv("Resources/Crime Information 2004.csv")
crime_2005 = pd.read_csv("Resources/Crime Information 2005.csv")
crime_2006 = pd.read_csv("Resources/Crime Information 2006.csv")
crime_2007 = pd.read_csv("Resources/Crime Information 2007.csv")
crime_2008 = pd.read_csv("Resources/Crime Information 2008.csv")
crime_2009 = pd.read_csv("Resources/Crime Information 2009.csv")
crime_2010 = pd.read_csv("Resources/Crime Information 2010.csv")
crime_2011 = pd.read_csv("Resources/Crime Information 2011.csv")
crime_2012 = pd.read_csv("Resources/Crime Information 2012.csv")
crime_2013 = pd.read_csv("Resources/Crime Information 2013.csv")
crime_2014 = pd.read_csv("Resources/Crime Information 2014.csv")
crime_2015 = pd.read_csv("Resources/Crime Information 2015.csv")
crime_2016 = pd.read_csv("Resources/Crime Information 2016.csv")
crime_2017 = pd.read_csv("Resources/Crime Information 2017.csv")
crime_2018 = pd.read_csv("Resources/Crime Information 2018.csv")
crime_2019 = pd.read_csv("Resources/Crime Information 2019.csv")
crime_2020 = pd.read_csv("Resources/Crime Information 2020.csv")

In [87]:
# Combined crime data totals
years = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 
             2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
total_crime_df = pd.DataFrame(columns=["NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                       "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER"])
crime_2000.loc['2000',:] = crime_2000.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2000.iloc[-1, :])
crime_2001.loc['2001',:] = crime_2001.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2001.iloc[-1, :])
crime_2002.loc['2002',:] = crime_2002.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2002.iloc[-1, :])
crime_2003.loc['2003',:] = crime_2003.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2003.iloc[-1, :])
crime_2004.loc['2004',:] = crime_2004.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2004.iloc[-1, :])
crime_2005.loc['2005',:] = crime_2005.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2005.iloc[-1, :])
crime_2006.loc['2006',:] = crime_2006.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2006.iloc[-1, :])
crime_2007.loc['2007',:] = crime_2007.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2007.iloc[-1, :])
crime_2008.loc['2008',:] = crime_2008.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2008.iloc[-1, :])
crime_2009.loc['2009',:] = crime_2009.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2009.iloc[-1, :])
crime_2010.loc['2010',:] = crime_2010.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2010.iloc[-1, :])
crime_2011.loc['2011',:] = crime_2011.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2011.iloc[-1, :])
crime_2012.loc['2012',:] = crime_2012.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2012.iloc[-1, :])
crime_2013.loc['2013',:] = crime_2013.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2013.iloc[-1, :])
crime_2014.loc['2014',:] = crime_2014.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2014.iloc[-1, :])
crime_2015.loc['2015',:] = crime_2015.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2015.iloc[-1, :])
crime_2016.loc['2016',:] = crime_2016.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2016.iloc[-1, :])
crime_2017.loc['2017',:] = crime_2017.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2017.iloc[-1, :])
crime_2018.loc['2018',:] = crime_2018.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2018.iloc[-1, :])
crime_2019.loc['2019',:] = crime_2019.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2019.iloc[-1, :])
crime_2020.loc['2020',:] = crime_2020.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2020.iloc[-1, :])
total_crime_df["YEAR"] = years
total_crime_df = total_crime_df[["YEAR", "HOMICIDE", "SEX_OFFENSE", "ROBBERY", 
                                 "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER"]]
total_crime_df["TOTAL_CRIME"] = (total_crime_df["HOMICIDE"] + total_crime_df["SEX_OFFENSE"] + 
                                 total_crime_df["ROBBERY"] + total_crime_df["ASSAULT"] + total_crime_df["BURGLARY"] + 
                                 total_crime_df["VICE"] + total_crime_df["THEFT"] + total_crime_df["VEH_THEFT"] + 
                                 total_crime_df["OTHER"])
total_crime_df = total_crime_df.set_index("YEAR")
total_crime_df = total_crime_df.astype(int)

# Add column for percent change year to year
prior_year = 0
total_crime_df["CRIME_PERCENT_CHANGE"] = ""
for index, row in total_crime_df.iterrows():
    if prior_year == 0:
        total_crime_df.loc[index, "CRIME_PERCENT_CHANGE"] = 0
        prior_year = row["TOTAL_CRIME"]
    else:
        total_crime_df.loc[index, "CRIME_PERCENT_CHANGE"] = ((row["TOTAL_CRIME"] - prior_year)/prior_year)*100
        prior_year = row["TOTAL_CRIME"]

total_crime_df

,HOMICIDE,SEX_OFFENSE,ROBBERY,ASSAULT,BURGLARY,VICE,THEFT,VEH_THEFT,OTHER,TOTAL_CRIME,CRIME_PERCENT_CHANGE
YEAR,,,,,,,,,,,
2000,75,296,1091,5908,2841,2430,10866,2548,21578,47633,0
2001,67,291,1328,6341,2871,1629,10953,2762,20581,46823,-1.700502
2002,83,356,1316,5718,3039,1780,12141,2537,18182,45152,-3.568759
2003,88,273,1336,5699,3113,1820,10823,2890,15921,41963,-7.06281
2004,90,245,1304,5351,2716,1953,8091,2369,14038,36157,-13.835998
2005,83,238,1196,5239,2511,2754,8220,2214,16667,39122,8.200348
2006,72,216,995,5447,2281,2937,6354,1421,19735,39458,0.858852
2007,55,168,962,5334,1875,2786,5634,1240,23159,41213,4.447767
2008,31,158,772,4980,1748,2690,5306,1022,21739,38446,-6.713901
2009,43,152,849,5082,1584,2734,5874,978,20597,37893,-1.438381
2010,44,149,730,5068,1766,2479,5885,868,20048,37037,-2.258992
2011,39,127,675,4697,1892,2116,5865,915,19115,35441,-4.309204
2012,45,113,627,4684,1993,2332,6163,918,18977,35852,1.159674
2013,38,126,623,4483,1813,2231,5993,927,17058,33292,-7.140466
2014,41,166,570,4321,1699,2077,6030,740,16854,32498,-2.384957
2015,43,171,489,4413,1594,2063,6206,905,17948,33832,4.104868
2016,62,199,550,4320,1517,1793,6151,1277,18858,34727,2.645424
2017,63,223,513,4069,1388,1902,6446,1182,19668,35454,2.093472
2018,55,181,428,4090,1115,2077,6573,1344,19533,35396,-0.163592
2019,63,185,428,3933,1024,1913,6512,1188,19555,34801,-1.680981
2020,71,166,360,3488,850,1254,5794,1161,16392,29536,-15.128876

In [88]:
# Function to create a single DataFrame from crime data based on Neighborhood
def crime_data(neighborhood):
    years = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 
             2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
    neighborhood_df = pd.DataFrame()
    neighborhood_df = crime_2000.loc[(crime_2000["NEIGHBORHOOD_NAME"] == neighborhood)]
    neighborhood_df = neighborhood_df.append(crime_2001.loc[(crime_2001["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2002.loc[(crime_2002["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2003.loc[(crime_2003["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2004.loc[(crime_2004["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2005.loc[(crime_2005["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2006.loc[(crime_2006["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2007.loc[(crime_2007["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2008.loc[(crime_2008["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2009.loc[(crime_2009["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2010.loc[(crime_2010["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2011.loc[(crime_2011["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2012.loc[(crime_2012["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2013.loc[(crime_2013["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2014.loc[(crime_2014["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2015.loc[(crime_2015["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2016.loc[(crime_2016["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2017.loc[(crime_2017["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2018.loc[(crime_2018["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2019.loc[(crime_2019["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2020.loc[(crime_2020["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df["YEAR"] = years
    neighborhood_df = neighborhood_df[["YEAR", "NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                       "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER"]]
    neighborhood_df = neighborhood_df.set_index("YEAR")
    
    # Add column for total crime
    neighborhood_df["TOTAL_CRIME"] = (neighborhood_df["HOMICIDE"] + neighborhood_df["SEX_OFFENSE"] + neighborhood_df["ROBBERY"] + 
                                      neighborhood_df["ASSAULT"] + neighborhood_df["BURGLARY"] + neighborhood_df["VICE"] + 
                                      neighborhood_df["THEFT"] + neighborhood_df["VEH_THEFT"] + neighborhood_df["OTHER"])
    
    # Add column for percent change year to year
    prior_year = 0
    neighborhood_df["CRIME_PERCENT_CHANGE"] = ""
    for index, row in neighborhood_df.iterrows():
        if prior_year == 0:
            neighborhood_df.loc[index, "CRIME_PERCENT_CHANGE"] = 0
            prior_year = row["TOTAL_CRIME"]
        else:
            neighborhood_df.loc[index, "CRIME_PERCENT_CHANGE"] = ((row["TOTAL_CRIME"] - prior_year)/prior_year)*100
            prior_year = row["TOTAL_CRIME"]
    
    # Get rid of trailing zeroes
    neighborhood_df["HOMICIDE"] = neighborhood_df["HOMICIDE"].astype(int)
    neighborhood_df["SEX_OFFENSE"] = neighborhood_df["SEX_OFFENSE"].astype(int)
    neighborhood_df["ROBBERY"] = neighborhood_df["ROBBERY"].astype(int)
    neighborhood_df["ASSAULT"] = neighborhood_df["ASSAULT"].astype(int)
    neighborhood_df["BURGLARY"] = neighborhood_df["BURGLARY"].astype(int)
    neighborhood_df["VICE"] = neighborhood_df["VICE"].astype(int)
    neighborhood_df["THEFT"] = neighborhood_df["THEFT"].astype(int)
    neighborhood_df["VEH_THEFT"] = neighborhood_df["VEH_THEFT"].astype(int)
    neighborhood_df["OTHER"] = neighborhood_df["OTHER"].astype(int)
    neighborhood_df["TOTAL_CRIME"] = neighborhood_df["TOTAL_CRIME"].astype(int)
    return neighborhood_df

In [89]:
# Call function to create a crime data DataFrame for a location

# Church Hill
church_hill_df = pd.DataFrame()
church_hill_df = crime_data("CHURCH HILL")

# Church Hill North
church_hill_north_df = pd.DataFrame()
church_hill_north_df = crime_data("CHURCH HILL NORTH")

# Jackson Ward
jackson_ward_df = pd.DataFrame()
jackson_ward_df = crime_data("JACKSON WARD")

# Manchester
manchester_df = pd.DataFrame()
manchester_df = crime_data("MANCHESTER")

# Scott's Addition
scotts_addition_df = pd.DataFrame()
scotts_addition_df = crime_data("SCOTT'S ADDITION")

# Shockoe Bottom
shockoe_bottom_df = pd.DataFrame()
shockoe_bottom_df = crime_data("SHOCKOE BOTTOM")

# Oregon Hill
oregon_hill_df = pd.DataFrame()
oregon_hill_df = crime_data("OREGON HILL")


# Display Church Hill Data as an example
church_hill_df

,NEIGHBORHOOD_NAME,HOMICIDE,SEX_OFFENSE,ROBBERY,ASSAULT,BURGLARY,VICE,THEFT,VEH_THEFT,OTHER,TOTAL_CRIME,CRIME_PERCENT_CHANGE
YEAR,,,,,,,,,,,,
2000,CHURCH HILL,0,1,8,71,44,46,143,51,229,593,0
2001,CHURCH HILL,1,2,20,60,77,25,157,66,198,606,2.192243
2002,CHURCH HILL,0,1,13,50,59,23,190,49,190,575,-5.115512
2003,CHURCH HILL,1,3,31,65,57,26,188,76,178,625,8.695652
2004,CHURCH HILL,0,6,16,52,41,31,122,55,163,486,-22.24
2005,CHURCH HILL,2,2,17,42,28,37,95,37,159,419,-13.786008
2006,CHURCH HILL,1,1,10,49,53,37,87,18,229,485,15.75179
2007,CHURCH HILL,0,4,10,36,37,20,90,19,179,395,-18.556701
2008,CHURCH HILL,1,2,7,29,27,16,58,23,189,352,-10.886076
2009,CHURCH HILL,1,3,3,30,26,11,78,13,173,338,-3.977273
2010,CHURCH HILL,0,0,3,29,18,11,64,17,159,301,-10.946746
2011,CHURCH HILL,0,0,6,37,21,14,67,10,148,303,0.664452
2012,CHURCH HILL,0,1,8,28,10,8,72,9,194,330,8.910891
2013,CHURCH HILL,0,0,3,23,20,5,47,5,145,248,-24.848485
2014,CHURCH HILL,0,0,9,25,23,6,69,8,125,265,6.854839
2015,CHURCH HILL,0,1,4,27,17,9,54,8,143,263,-0.754717
2016,CHURCH HILL,0,2,4,29,12,4,73,14,117,255,-3.041825
2017,CHURCH HILL,0,0,6,19,9,9,78,23,153,297,16.470588
2018,CHURCH HILL,0,0,5,17,8,11,75,16,132,264,-11.111111
2019,CHURCH HILL,0,1,5,15,11,7,70,22,147,278,5.30303
2020,CHURCH HILL,0,3,2,25,6,4,69,13,132,254,-8.633094

In [90]:
# Pull in Zillow data, convert it to yearly data, and save it as a csv and DataFrame

# Pull in Zillow data
zillow_df = pd.read_csv("Resources/Zillow_Richmond_Neighborhoods_wZips.csv")

# Replace NaN values with 0
zillow_df = zillow_df.fillna(0)

# Convirt monthly data into yearly data
zillow_df["1996"] = round((zillow_df["1/31/1996"] + zillow_df["2/29/1996"] + zillow_df["3/31/1996"] + zillow_df["4/30/1996"] + 
                     zillow_df["5/31/1996"] + zillow_df["6/30/1996"] + zillow_df["7/31/1996"] + zillow_df["8/31/1996"] +
                     zillow_df["9/30/1996"] + zillow_df["10/31/1996"] + zillow_df["11/30/1996"] + zillow_df["12/31/1996"])/12)
zillow_df["1996"] = zillow_df["1996"].astype(int)
zillow_df["1997"] = round((zillow_df["1/31/1997"] + zillow_df["2/28/1997"] + zillow_df["3/31/1997"] + zillow_df["4/30/1997"] + 
                     zillow_df["5/31/1997"] + zillow_df["6/30/1997"] + zillow_df["7/31/1997"] + zillow_df["8/31/1997"] +
                     zillow_df["9/30/1997"] + zillow_df["10/31/1997"] + zillow_df["11/30/1997"] + zillow_df["12/31/1997"])/12)
zillow_df["1997"] = zillow_df["1997"].astype(int)
zillow_df["1998"] = round((zillow_df["1/31/1998"] + zillow_df["2/28/1998"] + zillow_df["3/31/1998"] + zillow_df["4/30/1998"] + 
                     zillow_df["5/31/1998"] + zillow_df["6/30/1998"] + zillow_df["7/31/1998"] + zillow_df["8/31/1998"] +
                     zillow_df["9/30/1998"] + zillow_df["10/31/1998"] + zillow_df["11/30/1998"] + zillow_df["12/31/1998"])/12)
zillow_df["1998"] = zillow_df["1998"].astype(int)
zillow_df["1999"] = round((zillow_df["1/31/1999"] + zillow_df["2/28/1999"] + zillow_df["3/31/1999"] + zillow_df["4/30/1999"] + 
                     zillow_df["5/31/1999"] + zillow_df["6/30/1999"] + zillow_df["7/31/1999"] + zillow_df["8/31/1999"] +
                     zillow_df["9/30/1999"] + zillow_df["10/31/1999"] + zillow_df["11/30/1999"] + zillow_df["12/31/1999"])/12)
zillow_df["1999"] = zillow_df["1999"].astype(int)
zillow_df["2000"] = round((zillow_df["1/31/2000"] + zillow_df["2/29/2000"] + zillow_df["3/31/2000"] + zillow_df["4/30/2000"] + 
                     zillow_df["5/31/2000"] + zillow_df["6/30/2000"] + zillow_df["7/31/2000"] + zillow_df["8/31/2000"] +
                     zillow_df["9/30/2000"] + zillow_df["10/31/2000"] + zillow_df["11/30/2000"] + zillow_df["12/31/2000"])/12)
zillow_df["2000"] = zillow_df["2000"].astype(int)
zillow_df["2001"] = round((zillow_df["1/31/2001"] + zillow_df["2/28/2001"] + zillow_df["3/31/2001"] + zillow_df["4/30/2001"] + 
                     zillow_df["5/31/2001"] + zillow_df["6/30/2001"] + zillow_df["7/31/2001"] + zillow_df["8/31/2001"] +
                     zillow_df["9/30/2001"] + zillow_df["10/31/2001"] + zillow_df["11/30/2001"] + zillow_df["12/31/2001"])/12)
zillow_df["2001"] = zillow_df["2001"].astype(int)
zillow_df["2002"] = round((zillow_df["1/31/2002"] + zillow_df["2/28/2002"] + zillow_df["3/31/2002"] + zillow_df["4/30/2002"] + 
                     zillow_df["5/31/2002"] + zillow_df["6/30/2002"] + zillow_df["7/31/2002"] + zillow_df["8/31/2002"] +
                     zillow_df["9/30/2002"] + zillow_df["10/31/2002"] + zillow_df["11/30/2002"] + zillow_df["12/31/2002"])/12)
zillow_df["2002"] = zillow_df["2002"].astype(int)
zillow_df["2003"] = round((zillow_df["1/31/2003"] + zillow_df["2/28/2003"] + zillow_df["3/31/2003"] + zillow_df["4/30/2003"] + 
                     zillow_df["5/31/2003"] + zillow_df["6/30/2003"] + zillow_df["7/31/2003"] + zillow_df["8/31/2003"] +
                     zillow_df["9/30/2003"] + zillow_df["10/31/2003"] + zillow_df["11/30/2003"] + zillow_df["12/31/2003"])/12)
zillow_df["2003"] = zillow_df["2003"].astype(int)
zillow_df["2004"] = round((zillow_df["1/31/2004"] + zillow_df["2/29/2004"] + zillow_df["3/31/2004"] + zillow_df["4/30/2004"] + 
                     zillow_df["5/31/2004"] + zillow_df["6/30/2004"] + zillow_df["7/31/2004"] + zillow_df["8/31/2004"] +
                     zillow_df["9/30/2004"] + zillow_df["10/31/2004"] + zillow_df["11/30/2004"] + zillow_df["12/31/2004"])/12)
zillow_df["2004"] = zillow_df["2004"].astype(int)
zillow_df["2005"] = round((zillow_df["1/31/2005"] + zillow_df["2/28/2005"] + zillow_df["3/31/2005"] + zillow_df["4/30/2005"] + 
                     zillow_df["5/31/2005"] + zillow_df["6/30/2005"] + zillow_df["7/31/2005"] + zillow_df["8/31/2005"] +
                     zillow_df["9/30/2005"] + zillow_df["10/31/2005"] + zillow_df["11/30/2005"] + zillow_df["12/31/2005"])/12)
zillow_df["2005"] = zillow_df["2005"].astype(int)
zillow_df["2006"] = round((zillow_df["1/31/2006"] + zillow_df["2/28/2006"] + zillow_df["3/31/2006"] + zillow_df["4/30/2006"] + 
                     zillow_df["5/31/2006"] + zillow_df["6/30/2006"] + zillow_df["7/31/2006"] + zillow_df["8/31/2006"] +
                     zillow_df["9/30/2006"] + zillow_df["10/31/2006"] + zillow_df["11/30/2006"] + zillow_df["12/31/2006"])/12)
zillow_df["2006"] = zillow_df["2006"].astype(int)
zillow_df["2007"] = round((zillow_df["1/31/2007"] + zillow_df["2/28/2007"] + zillow_df["3/31/2007"] + zillow_df["4/30/2007"] + 
                     zillow_df["5/31/2007"] + zillow_df["6/30/2007"] + zillow_df["7/31/2007"] + zillow_df["8/31/2007"] +
                     zillow_df["9/30/2007"] + zillow_df["10/31/2007"] + zillow_df["11/30/2007"] + zillow_df["12/31/2007"])/12)
zillow_df["2007"] = zillow_df["2007"].astype(int)
zillow_df["2008"] = round((zillow_df["1/31/2008"] + zillow_df["2/29/2008"] + zillow_df["3/31/2008"] + zillow_df["4/30/2008"] + 
                     zillow_df["5/31/2008"] + zillow_df["6/30/2008"] + zillow_df["7/31/2008"] + zillow_df["8/31/2008"] +
                     zillow_df["9/30/2008"] + zillow_df["10/31/2008"] + zillow_df["11/30/2008"] + zillow_df["12/31/2008"])/12)
zillow_df["2008"] = zillow_df["2008"].astype(int)
zillow_df["2009"] = round((zillow_df["1/31/2009"] + zillow_df["2/28/2009"] + zillow_df["3/31/2009"] + zillow_df["4/30/2009"] + 
                     zillow_df["5/31/2009"] + zillow_df["6/30/2009"] + zillow_df["7/31/2009"] + zillow_df["8/31/2009"] +
                     zillow_df["9/30/2009"] + zillow_df["10/31/2009"] + zillow_df["11/30/2009"] + zillow_df["12/31/2009"])/12)
zillow_df["2009"] = zillow_df["2009"].astype(int)
zillow_df["2010"] = round((zillow_df["1/31/2010"] + zillow_df["2/28/2010"] + zillow_df["3/31/2010"] + zillow_df["4/30/2010"] + 
                     zillow_df["5/31/2010"] + zillow_df["6/30/2010"] + zillow_df["7/31/2010"] + zillow_df["8/31/2010"] +
                     zillow_df["9/30/2010"] + zillow_df["10/31/2010"] + zillow_df["11/30/2010"] + zillow_df["12/31/2010"])/12)
zillow_df["2010"] = zillow_df["2010"].astype(int)
zillow_df["2011"] = round((zillow_df["1/31/2011"] + zillow_df["2/28/2011"] + zillow_df["3/31/2011"] + zillow_df["4/30/2011"] + 
                     zillow_df["5/31/2011"] + zillow_df["6/30/2011"] + zillow_df["7/31/2011"] + zillow_df["8/31/2011"] +
                     zillow_df["9/30/2011"] + zillow_df["10/31/2011"] + zillow_df["11/30/2011"] + zillow_df["12/31/2011"])/12)
zillow_df["2011"] = zillow_df["2011"].astype(int)
zillow_df["2012"] = round((zillow_df["1/31/2012"] + zillow_df["2/29/2012"] + zillow_df["3/31/2012"] + zillow_df["4/30/2012"] + 
                     zillow_df["5/31/2012"] + zillow_df["6/30/2012"] + zillow_df["7/31/2012"] + zillow_df["8/31/2012"] +
                     zillow_df["9/30/2012"] + zillow_df["10/31/2012"] + zillow_df["11/30/2012"] + zillow_df["12/31/2012"])/12)
zillow_df["2012"] = zillow_df["2012"].astype(int)
zillow_df["2013"] = round((zillow_df["1/31/2013"] + zillow_df["2/28/2013"] + zillow_df["3/31/2013"] + zillow_df["4/30/2013"] + 
                     zillow_df["5/31/2013"] + zillow_df["6/30/2013"] + zillow_df["7/31/2013"] + zillow_df["8/31/2013"] +
                     zillow_df["9/30/2013"] + zillow_df["10/31/2013"] + zillow_df["11/30/2013"] + zillow_df["12/31/2013"])/12)
zillow_df["2013"] = zillow_df["2013"].astype(int)
zillow_df["2014"] = round((zillow_df["1/31/2014"] + zillow_df["2/28/2014"] + zillow_df["3/31/2014"] + zillow_df["4/30/2014"] + 
                     zillow_df["5/31/2014"] + zillow_df["6/30/2014"] + zillow_df["7/31/2014"] + zillow_df["8/31/2014"] +
                     zillow_df["9/30/2014"] + zillow_df["10/31/2014"] + zillow_df["11/30/2014"] + zillow_df["12/31/2014"])/12)
zillow_df["2014"] = zillow_df["2014"].astype(int)
zillow_df["2015"] = round((zillow_df["1/31/2015"] + zillow_df["2/28/2015"] + zillow_df["3/31/2015"] + zillow_df["4/30/2015"] + 
                     zillow_df["5/31/2015"] + zillow_df["6/30/2015"] + zillow_df["7/31/2015"] + zillow_df["8/31/2015"] +
                     zillow_df["9/30/2015"] + zillow_df["10/31/2015"] + zillow_df["11/30/2015"] + zillow_df["12/31/2015"])/12)
zillow_df["2015"] = zillow_df["2015"].astype(int)
zillow_df["2016"] = round((zillow_df["1/31/2016"] + zillow_df["2/29/2016"] + zillow_df["3/31/2016"] + zillow_df["4/30/2016"] + 
                     zillow_df["5/31/2016"] + zillow_df["6/30/2016"] + zillow_df["7/31/2016"] + zillow_df["8/31/2016"] +
                     zillow_df["9/30/2016"] + zillow_df["10/31/2016"] + zillow_df["11/30/2016"] + zillow_df["12/31/2016"])/12)
zillow_df["2016"] = zillow_df["2016"].astype(int)
zillow_df["2017"] = round((zillow_df["1/31/2017"] + zillow_df["2/28/2017"] + zillow_df["3/31/2017"] + zillow_df["4/30/2017"] + 
                     zillow_df["5/31/2017"] + zillow_df["6/30/2017"] + zillow_df["7/31/2017"] + zillow_df["8/31/2017"] +
                     zillow_df["9/30/2017"] + zillow_df["10/31/2017"] + zillow_df["11/30/2017"] + zillow_df["12/31/2017"])/12)
zillow_df["2017"] = zillow_df["2017"].astype(int)
zillow_df["2018"] = round((zillow_df["1/31/2018"] + zillow_df["2/28/2018"] + zillow_df["3/31/2018"] + zillow_df["4/30/2018"] + 
                     zillow_df["5/31/2018"] + zillow_df["6/30/2018"] + zillow_df["7/31/2018"] + zillow_df["8/31/2018"] +
                     zillow_df["9/30/2018"] + zillow_df["10/31/2018"] + zillow_df["11/30/2018"] + zillow_df["12/31/2018"])/12)
zillow_df["2018"] = zillow_df["2018"].astype(int)
zillow_df["2019"] = round((zillow_df["1/31/2019"] + zillow_df["2/28/2019"] + zillow_df["3/31/2019"] + zillow_df["4/30/2019"] + 
                     zillow_df["5/31/2019"] + zillow_df["6/30/2019"] + zillow_df["7/31/2019"] + zillow_df["8/31/2019"] +
                     zillow_df["9/30/2019"] + zillow_df["10/31/2019"] + zillow_df["11/30/2019"] + zillow_df["12/31/2019"])/12)
zillow_df["2019"] = zillow_df["2019"].astype(int)
zillow_df["2020"] = round((zillow_df["1/31/2020"] + zillow_df["2/29/2020"] + zillow_df["3/31/2020"] + zillow_df["4/30/2020"] + 
                     zillow_df["5/31/2020"] + zillow_df["6/30/2020"] + zillow_df["7/31/2020"] + zillow_df["8/31/2020"] +
                     zillow_df["9/30/2020"] + zillow_df["10/31/2020"] + zillow_df["11/30/2020"] + zillow_df["12/31/2020"])/12)
zillow_df["2020"] = zillow_df["2020"].astype(int)
zillow_df["01/2021 - 07/2021"] = round((zillow_df["1/31/2021"] + zillow_df["2/28/2021"] + zillow_df["3/31/2021"] + zillow_df["4/30/2021"] + 
                     zillow_df["5/31/2021"] + zillow_df["6/30/2021"] + zillow_df["7/31/2021"])/12)
zillow_df["01/2021 - 07/2021"] = zillow_df["01/2021 - 07/2021"].astype(int)

# Rename columns with non-spaces in their names
zillow_df = zillow_df.rename(columns={"RegionName": "Region Name", "RegionID": "Region ID", "SizeRank": "Size Rank"})

# Remove monthly columns in favor of yearly columns and remove other unneeded columns
zillow_df = zillow_df[["Region Name", "Region ID", "Size Rank", "Zip Code", "Second Zip Code", "Third Zip Code", 
                       "1996", "1997", "1998", "1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006",
                       "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017",
                       "2018", "2019", "2020", "01/2021 - 07/2021"]]

# Store the new data in a csv file
zillow_df.to_csv("Output/zillow_by_year.csv", encoding="utf-8", index=False)

# Create Totals Data for later use
zillow_df.loc['Totals',:] = zillow_df.sum(axis=0)
zillow_df.iloc[-1,0] = "Totals"

# Display
print(len(zillow_df))
zillow_df.head()

124

,Region Name,Region ID,Size Rank,Zip Code,Second Zip Code,Third Zip Code,1996,1997,1998,1999,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,01/2021 - 07/2021
0,The Fan,275702.0,1140.0,23220.0,None,None,127836.0,123561.0,142352.0,162437.0,...,325518.0,352072.0,361787.0,375400.0,398726.0,423322.0,456708.0,480578.0,495304.0,303858.0
1,The Museum District,275714.0,2576.0,23221.0,23230,None,101811.0,117029.0,127964.0,141834.0,...,285041.0,306324.0,312329.0,325949.0,348648.0,367651.0,392892.0,417523.0,434587.0,272206.0
2,Fulton,276341.0,4089.0,23231.0,None,None,68845.0,74232.0,82636.0,83851.0,...,96219.0,96882.0,105052.0,116738.0,118553.0,129542.0,143823.0,150422.0,164079.0,110944.0
3,Eastview,273588.0,4471.0,23223.0,None,None,0.0,21060.0,56303.0,61406.0,...,73953.0,62921.0,68541.0,69548.0,67897.0,72297.0,89160.0,100886.0,111755.0,76686.0
4,Ginter Park,243780.0,4493.0,23227.0,23222,None,116266.0,130858.0,143066.0,154101.0,...,277100.0,300294.0,303092.0,309751.0,324448.0,344755.0,370552.0,384376.0,409187.0,263880.0

In [91]:
# Function to transform Zillow data to cover a single Neighborhood from 2000 to 2020
def zillow_data(neighborhood):
    years = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 
             2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
    zillow_neighborhood_df = pd.DataFrame()
    zillow_neighborhood_df = zillow_df.loc[(zillow_df["Region Name"] == neighborhood)]
    zillow_neighborhood_df = zillow_neighborhood_df.set_index("Region Name")
    prices = [zillow_neighborhood_df.loc[neighborhood, "2000"],
              zillow_neighborhood_df.loc[neighborhood, "2001"],
              zillow_neighborhood_df.loc[neighborhood, "2002"],
              zillow_neighborhood_df.loc[neighborhood, "2003"],
              zillow_neighborhood_df.loc[neighborhood, "2004"],
              zillow_neighborhood_df.loc[neighborhood, "2005"],
              zillow_neighborhood_df.loc[neighborhood, "2006"],
              zillow_neighborhood_df.loc[neighborhood, "2007"],
              zillow_neighborhood_df.loc[neighborhood, "2008"],
              zillow_neighborhood_df.loc[neighborhood, "2009"],
              zillow_neighborhood_df.loc[neighborhood, "2010"],
              zillow_neighborhood_df.loc[neighborhood, "2011"],
              zillow_neighborhood_df.loc[neighborhood, "2012"],
              zillow_neighborhood_df.loc[neighborhood, "2013"],
              zillow_neighborhood_df.loc[neighborhood, "2014"],
              zillow_neighborhood_df.loc[neighborhood, "2015"],
              zillow_neighborhood_df.loc[neighborhood, "2016"],
              zillow_neighborhood_df.loc[neighborhood, "2017"],
              zillow_neighborhood_df.loc[neighborhood, "2018"],
              zillow_neighborhood_df.loc[neighborhood, "2019"],
              zillow_neighborhood_df.loc[neighborhood, "2020"]]
    zillow_multirow_neighborhood_df = pd.DataFrame()
    zillow_multirow_neighborhood_df["YEAR"] = years
    zillow_multirow_neighborhood_df["NEIGHBORHOOD_NAME"] = neighborhood
    zillow_multirow_neighborhood_df["AVERAGE_HOUSE_PRICE"] = prices
    zillow_multirow_neighborhood_df = zillow_multirow_neighborhood_df.set_index("YEAR")

    # Add column for percent change year to year
    prior_year = 0
    zillow_multirow_neighborhood_df["PRICE_PERCENT_CHANGE"] = ""
    for index, row in zillow_multirow_neighborhood_df.iterrows():
        if prior_year == 0:
            zillow_multirow_neighborhood_df.loc[index, "PRICE_PERCENT_CHANGE"] = 0
            prior_year = row["AVERAGE_HOUSE_PRICE"]
        else:
            zillow_multirow_neighborhood_df.loc[index, "PRICE_PERCENT_CHANGE"] = ((row["AVERAGE_HOUSE_PRICE"] - prior_year)/prior_year)*100
            prior_year = row["AVERAGE_HOUSE_PRICE"]

    zillow_multirow_neighborhood_df["AVERAGE_HOUSE_PRICE"] = zillow_multirow_neighborhood_df["AVERAGE_HOUSE_PRICE"].astype(int)
    return zillow_multirow_neighborhood_df

In [92]:
# Call function to create a Zillow data DataFrame for a location

# Church Hill
church_hill2_df = pd.DataFrame()
church_hill2_df = zillow_data("Church Hill")

# Church Hill North
church_hill_north2_df = pd.DataFrame()
church_hill_north2_df = zillow_data("Church Hill North")

# Jackson Ward
jackson_ward2_df = pd.DataFrame()
jackson_ward2_df = zillow_data("Jackson Ward")

# Manchester
manchester2_df = pd.DataFrame()
manchester2_df = zillow_data("Manchester")

# Scott's Addition
scotts_addition2_df = pd.DataFrame()
scotts_addition2_df = zillow_data("Scott's Addition")

# Shockoe Bottom
shockoe_bottom2_df = pd.DataFrame()
shockoe_bottom2_df = zillow_data("Shockoe Bottom")

# Oregon Hill
oregon_hill2_df = pd.DataFrame()
oregon_hill2_df = zillow_data("Oregon Hill")

# Show Church Hill as a sample
church_hill2_df

     NEIGHBORHOOD_NAME  AVERAGE_HOUSE_PRICE PRICE_PERCENT_CHANGE
YEAR
2000       Church Hill               157062                    0
2001       Church Hill               147762            -5.921229
2002       Church Hill               162856            10.215076
2003       Church Hill               185556            13.938694
2004       Church Hill               198668              7.06633
2005       Church Hill               234338            17.954577
2006       Church Hill               266700            13.809967
2007       Church Hill               280136              5.03787
2008       Church Hill               262604            -6.258389
2009       Church Hill               235140           -10.458333
2010       Church Hill               228737            -2.723059
2011       Church Hill               215394            -5.833337
2012       Church Hill               210263            -2.382146
2013       Church Hill               223706             6.393422
2014       Church Hill               231048             3.281986
2015       Church Hill               256620             11.06783
2016       Church Hill               280420             9.274414
2017       Church Hill               299113             6.666072
2018       Church Hill               320999             7.316967
2019       Church Hill               334904             4.331789
2020       Church Hill               345075              3.03699

In [93]:
# Call function for total for all of Richmond
total_zillow_df = pd.DataFrame()
total_zillow_df = zillow_data("Totals")
total_zillow_df

     NEIGHBORHOOD_NAME  AVERAGE_HOUSE_PRICE PRICE_PERCENT_CHANGE
YEAR
2000            Totals             14864415                    0
2001            Totals             15419541             3.734597
2002            Totals             16462528              6.76406
2003            Totals             18209260            10.610351
2004            Totals             20044317            10.077603
2005            Totals             22811280            13.804227
2006            Totals             25394341            11.323613
2007            Totals             27186144             7.055915
2008            Totals             26883825            -1.112033
2009            Totals             24964309            -7.140041
2010            Totals             23879647            -4.344851
2011            Totals             22227965            -6.916694
2012            Totals             21573024            -2.946473
2013            Totals             22572722             4.634019
2014            Totals             22976497             1.788774
2015            Totals             23649011             2.926965
2016            Totals             25102733             6.147073
2017            Totals             26802685              6.77198
2018            Totals             29385991             9.638236
2019            Totals             31498053             7.187309
2020            Totals             34019502             8.005095

In [94]:
# Combine Crime and Neighborhood Data and save to csv.

# Church Hill
church_hill_df = pd.merge(church_hill_df,church_hill2_df,how="outer",on="YEAR")
church_hill_df = church_hill_df.rename(columns={"NEIGHBORHOOD_NAME_x": "NEIGHBORHOOD_NAME"})
church_hill_df = church_hill_df[["NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                     "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER", 
                                     "TOTAL_CRIME", "AVERAGE_HOUSE_PRICE", "CRIME_PERCENT_CHANGE", "PRICE_PERCENT_CHANGE"]]
church_hill_df.to_csv("Output/church_hill.csv", encoding="utf-8", index=True)

# Church Hill North
church_hill_north_df = pd.merge(church_hill_north_df,church_hill_north2_df,how="outer",on="YEAR")
church_hill_north_df = church_hill_north_df.rename(columns={"NEIGHBORHOOD_NAME_x": "NEIGHBORHOOD_NAME"})
church_hill_north_df = church_hill_north_df[["NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                     "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER", 
                                     "TOTAL_CRIME", "AVERAGE_HOUSE_PRICE", "CRIME_PERCENT_CHANGE", "PRICE_PERCENT_CHANGE"]]
church_hill_north_df.to_csv("Output/church_hill_north.csv", encoding="utf-8", index=True)

# Jackson Ward
jackson_ward_df = pd.merge(jackson_ward_df,jackson_ward2_df,how="outer",on="YEAR")
jackson_ward_df = jackson_ward_df.rename(columns={"NEIGHBORHOOD_NAME_x": "NEIGHBORHOOD_NAME"})
jackson_ward_df = jackson_ward_df[["NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                     "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER", 
                                     "TOTAL_CRIME", "AVERAGE_HOUSE_PRICE", "CRIME_PERCENT_CHANGE", "PRICE_PERCENT_CHANGE"]]
jackson_ward_df.to_csv("Output/jackson_ward.csv", encoding="utf-8", index=True)

# Manchester
manchester_df = pd.merge(manchester_df,manchester2_df,how="outer",on="YEAR")
manchester_df = manchester_df.rename(columns={"NEIGHBORHOOD_NAME_x": "NEIGHBORHOOD_NAME"})
manchester_df = manchester_df[["NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                     "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER", 
                                     "TOTAL_CRIME", "AVERAGE_HOUSE_PRICE", "CRIME_PERCENT_CHANGE", "PRICE_PERCENT_CHANGE"]]
manchester_df.to_csv("Output/manchester.csv", encoding="utf-8", index=True)

# Scott's Addition
scotts_addition_df = pd.merge(scotts_addition_df,scotts_addition2_df,how="outer",on="YEAR")
scotts_addition_df = scotts_addition_df.rename(columns={"NEIGHBORHOOD_NAME_x": "NEIGHBORHOOD_NAME"})
scotts_addition_df = scotts_addition_df[["NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                     "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER", 
                                     "TOTAL_CRIME", "AVERAGE_HOUSE_PRICE", "CRIME_PERCENT_CHANGE", "PRICE_PERCENT_CHANGE"]]
scotts_addition_df.to_csv("Output/scotts_addition.csv", encoding="utf-8", index=True)

# Shockoe Bottom
shockoe_bottom_df = pd.merge(shockoe_bottom_df,shockoe_bottom2_df,how="outer",on="YEAR")
shockoe_bottom_df = shockoe_bottom_df.rename(columns={"NEIGHBORHOOD_NAME_x": "NEIGHBORHOOD_NAME"})
shockoe_bottom_df = shockoe_bottom_df[["NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                     "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER", 
                                     "TOTAL_CRIME", "AVERAGE_HOUSE_PRICE", "CRIME_PERCENT_CHANGE", "PRICE_PERCENT_CHANGE"]]
shockoe_bottom_df.to_csv("Output/shockoe_bottom.csv", encoding="utf-8", index=True)

# Oregon Hill
oregon_hill_df = pd.merge(oregon_hill_df,oregon_hill2_df,how="outer",on="YEAR")
oregon_hill_df = oregon_hill_df.rename(columns={"NEIGHBORHOOD_NAME_x": "NEIGHBORHOOD_NAME"})
oregon_hill_df = oregon_hill_df[["NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                     "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER", 
                                     "TOTAL_CRIME", "AVERAGE_HOUSE_PRICE", "CRIME_PERCENT_CHANGE", "PRICE_PERCENT_CHANGE"]]
oregon_hill_df.to_csv("Output/oregon_hill.csv", encoding="utf-8", index=True)

# Display Church Hill Data as an example
church_hill_df

,NEIGHBORHOOD_NAME,HOMICIDE,SEX_OFFENSE,ROBBERY,ASSAULT,BURGLARY,VICE,THEFT,VEH_THEFT,OTHER,TOTAL_CRIME,AVERAGE_HOUSE_PRICE,CRIME_PERCENT_CHANGE,PRICE_PERCENT_CHANGE
YEAR,,,,,,,,,,,,,,
2000,CHURCH HILL,0,1,8,71,44,46,143,51,229,593,157062,0,0
2001,CHURCH HILL,1,2,20,60,77,25,157,66,198,606,147762,2.192243,-5.921229
2002,CHURCH HILL,0,1,13,50,59,23,190,49,190,575,162856,-5.115512,10.215076
2003,CHURCH HILL,1,3,31,65,57,26,188,76,178,625,185556,8.695652,13.938694
2004,CHURCH HILL,0,6,16,52,41,31,122,55,163,486,198668,-22.24,7.06633
2005,CHURCH HILL,2,2,17,42,28,37,95,37,159,419,234338,-13.786008,17.954577
2006,CHURCH HILL,1,1,10,49,53,37,87,18,229,485,266700,15.75179,13.809967
2007,CHURCH HILL,0,4,10,36,37,20,90,19,179,395,280136,-18.556701,5.03787
2008,CHURCH HILL,1,2,7,29,27,16,58,23,189,352,262604,-10.886076,-6.258389
2009,CHURCH HILL,1,3,3,30,26,11,78,13,173,338,235140,-3.977273,-10.458333
2010,CHURCH HILL,0,0,3,29,18,11,64,17,159,301,228737,-10.946746,-2.723059
2011,CHURCH HILL,0,0,6,37,21,14,67,10,148,303,215394,0.664452,-5.833337
2012,CHURCH HILL,0,1,8,28,10,8,72,9,194,330,210263,8.910891,-2.382146
2013,CHURCH HILL,0,0,3,23,20,5,47,5,145,248,223706,-24.848485,6.393422
2014,CHURCH HILL,0,0,9,25,23,6,69,8,125,265,231048,6.854839,3.281986
2015,CHURCH HILL,0,1,4,27,17,9,54,8,143,263,256620,-0.754717,11.06783
2016,CHURCH HILL,0,2,4,29,12,4,73,14,117,255,280420,-3.041825,9.274414
2017,CHURCH HILL,0,0,6,19,9,9,78,23,153,297,299113,16.470588,6.666072
2018,CHURCH HILL,0,0,5,17,8,11,75,16,132,264,320999,-11.111111,7.316967
2019,CHURCH HILL,0,1,5,15,11,7,70,22,147,278,334904,5.30303,4.331789
2020,CHURCH HILL,0,3,2,25,6,4,69,13,132,254,345075,-8.633094,3.03699

In [95]:
# Combine Crime and Total Richmond Data
richmond_crime_housing_df = pd.merge(total_crime_df,total_zillow_df,how="outer",on="YEAR")
richmond_crime_housing_df = richmond_crime_housing_df.rename(columns={"NEIGHBORHOOD_NAME_x": "NEIGHBORHOOD_NAME"})
richmond_crime_housing_df = richmond_crime_housing_df[["NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                     "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER", 
                                     "TOTAL_CRIME", "AVERAGE_HOUSE_PRICE", "CRIME_PERCENT_CHANGE", "PRICE_PERCENT_CHANGE"]]
richmond_crime_housing_df["NEIGHBORHOOD_NAME"] = "Richmond"

# Save to csv
richmond_crime_housing_df.to_csv("Output/richmond.csv", encoding="utf-8", index=True)

# Display
richmond_crime_housing_df

,NEIGHBORHOOD_NAME,HOMICIDE,SEX_OFFENSE,ROBBERY,ASSAULT,BURGLARY,VICE,THEFT,VEH_THEFT,OTHER,TOTAL_CRIME,AVERAGE_HOUSE_PRICE,CRIME_PERCENT_CHANGE,PRICE_PERCENT_CHANGE
YEAR,,,,,,,,,,,,,,
2000,Richmond,75,296,1091,5908,2841,2430,10866,2548,21578,47633,14864415,0,0
2001,Richmond,67,291,1328,6341,2871,1629,10953,2762,20581,46823,15419541,-1.700502,3.734597
2002,Richmond,83,356,1316,5718,3039,1780,12141,2537,18182,45152,16462528,-3.568759,6.76406
2003,Richmond,88,273,1336,5699,3113,1820,10823,2890,15921,41963,18209260,-7.06281,10.610351
2004,Richmond,90,245,1304,5351,2716,1953,8091,2369,14038,36157,20044317,-13.835998,10.077603
2005,Richmond,83,238,1196,5239,2511,2754,8220,2214,16667,39122,22811280,8.200348,13.804227
2006,Richmond,72,216,995,5447,2281,2937,6354,1421,19735,39458,25394341,0.858852,11.323613
2007,Richmond,55,168,962,5334,1875,2786,5634,1240,23159,41213,27186144,4.447767,7.055915
2008,Richmond,31,158,772,4980,1748,2690,5306,1022,21739,38446,26883825,-6.713901,-1.112033
2009,Richmond,43,152,849,5082,1584,2734,5874,978,20597,37893,24964309,-1.438381,-7.140041
2010,Richmond,44,149,730,5068,1766,2479,5885,868,20048,37037,23879647,-2.258992,-4.344851
2011,Richmond,39,127,675,4697,1892,2116,5865,915,19115,35441,22227965,-4.309204,-6.916694
2012,Richmond,45,113,627,4684,1993,2332,6163,918,18977,35852,21573024,1.159674,-2.946473
2013,Richmond,38,126,623,4483,1813,2231,5993,927,17058,33292,22572722,-7.140466,4.634019
2014,Richmond,41,166,570,4321,1699,2077,6030,740,16854,32498,22976497,-2.384957,1.788774
2015,Richmond,43,171,489,4413,1594,2063,6206,905,17948,33832,23649011,4.104868,2.926965
2016,Richmond,62,199,550,4320,1517,1793,6151,1277,18858,34727,25102733,2.645424,6.147073
2017,Richmond,63,223,513,4069,1388,1902,6446,1182,19668,35454,26802685,2.093472,6.77198
2018,Richmond,55,181,428,4090,1115,2077,6573,1344,19533,35396,29385991,-0.163592,9.638236
2019,Richmond,63,185,428,3933,1024,1913,6512,1188,19555,34801,31498053,-1.680981,7.187309
2020,Richmond,71,166,360,3488,850,1254,5794,1161,16392,29536,34019502,-15.128876,8.005095

In [96]:
# Census Call
c = Census(api_key, year=2013)
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*', 'in': 'state:51'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Rename Columns
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Rearrange DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]
# Display
print(len(census_pd))
census_pd.head()

896

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,23102,3342.0,43.7,92346.0,32064.0,35.0,1.047277
1,23106,1270.0,31.2,45125.0,16816.0,497.0,39.133858
2,23112,50595.0,35.1,80830.0,33038.0,2006.0,3.964819
3,23153,1073.0,54.2,76964.0,63814.0,21.0,1.957130
4,23161,62.0,66.3,52143.0,47961.0,0.0,0.000000

In [97]:
# Copy Census data to csv
census_pd.to_csv("Output/census_data.csv", encoding="utf-8", index=False)